*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  width: 1200px;
  background: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  background-color: #ffffff;
  color: #000000;
  width: 1200px;
  min-height: 64px;
}

.nav {
  width: 1200px;
  display: flex;
  align-items: center;
  padding-left: 238px;
  position: relative;
}

.logo-link {
  text-decoration: none;
  display: block;
  position: absolute;
  top: 0;
  left: 70px;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  vertical-align: top;
}

.nav-user-list {
  display: flex;
  margin: 0 20px 0 auto;
  padding: 0;
  align-items: center;
}

.nav-item,
.nav-user-item  {
  list-style: none;
  display: block;
}

.nav-item {
  padding: 20px 16px;
  transition: all 0.3s ease;
}

.nav-item:hover {
  /*background-image: linear-gradient(to top, rgba(228, 241, 249, 0.8), rgba(255, 255, 255, 0.8)); */
  background-color: rgba(227, 240, 248, 0.7);
  box-shadow: 0 0 3px 0 rgba(205, 228, 242, 0.8);
  transition: all 0.3s ease;
}

.nav-item-current {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 20px;
  text-underline-position: under;
}

.nav-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.nav-link-search {
  display: inline-block;
  min-width: 20px;
  min-height: 64px;
  background-image: url("../images/icons-sprites.svg");
  background-repeat: no-repeat;
  background-position: -75px;
  padding: 22px 12px;
}

.nav-link-favorites {
  display: inline-block;
  min-width: 20px;
  min-height: 64px;
  background-image: url("../images/icons-sprites.svg");
  background-repeat: no-repeat;
  background-position: -100px;
  padding: 22px 12px;
  text-decoration: none;
}

/*
.nav-link-search {
  background-image: url("../images/icons/icon-search.svg");
  min-width: 44px;
  min-height: 64px;
  display: block;
}

.nav-link-favorites {
  background-image: url("../images/icons/icon-favorites.svg");
  min-width: 44px;
  min-height: 64px;
  display: block;
  text-decoration: none;
  position: relative;
}
*/
.nav-user-item {
  display: block;
  width: 44px;
  height: 64px;
  position: relative;
  text-align: center;
}

.nav-user-number {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #7DB54F;
  display: block;
  position: absolute;
  left: 20px;
  top: 11px;
  padding-top: 5px;
}

.button {
  font-family: "PT Sans", "Arial", sans-serif;
  min-width: 160px;
  background-color: #756157;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 8px;
  text-align: center;
  cursor: pointer;
}

.button:visited {}

.button:hover {
 background-color: #615048;
}

.button:focus {
  background-color: #615048;
  outline: none;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-wanthere {
  margin-right: 70px;
}

.main-index {
  flex-grow: 1;
}

.welcome {
  text-align: center;
  background-color: #ffffff;
}

.welcome-image-wrapper {
  background-image: url("../images/divider.svg"),
  url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center;
  background-size: auto, cover;
  background-color: #ffffff;
  height: 485px;
  margin-bottom: 69px;
  padding: 51px 0 82px;
}

.welcome-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 25px 0;
  padding: 0 30px;
}

.welcome-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 0 90px 0;
  padding: 0 30px;
}

.advantages {
  background-color: #ffffff;
  margin-bottom: 64px;
}

.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  width: 400px;
  min-height: 385px;
}

.advantages-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding: 70px 85px;
  background-color: #82B3D3;
}

.advantages-title {
  width: 175px;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto 62px;
}

.decor-line {
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 85px 30px 85px;
}

.advantages-description {
  margin: 0;
  position: relative;
}

.advantages-description::before {
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  width: 60px;
  height: 2px;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
}

.advantages-item-light .advantages-description::before,
.advantages-item-lightblue .advantages-description::before {
  background-color: rgba(0, 0, 0, 0.30);
}

.advantages-item-blue {
  color: #ffffff;
  background-color: #82B3D3;
  width: 100%;
  flex-direction: row;
}

.advantages-item-blue .advantages-title {
  color: inherit;
}

.advantages-item-light {
  background: rgba(131, 179, 211, 0.12);
  padding: 70px 85px;
}

.advantages-item-lightblue {
  background: rgba(131, 179, 211, 0.2);
  padding: 70px 85px;
}

.recommendation {
  text-align: center;
  background-color: #ffffff;
}

.recommendation-bold {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
  padding: 0 30px;
}

.recommendation-description {
font-size: 22px;
line-height: 26px;
margin: 0 0 64px 0;
padding: 0 30px;
}

.recommendation-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.recommendation-item {
  list-style: none;
  width: 400px;
  min-height: 385px;
  padding-top: 183px;
}

.recommendation-item-lightblue {
  background: rgba(131, 179, 211, 0.12);
}

.recommendation-housing {
  background-image: url("../images/icons/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 163px 81px;
}

.recommendation-food {
  background-image: url("../images/icons/icon-food.svg");
  background-repeat: no-repeat;
  background-position: 163px 81px;
}

.recommendation-souvenirs {
  background-image: url("../images/icons/icon-present.svg");
  background-repeat: no-repeat;
  background-position: 169px 79px;
}

.recommendation-subtitle {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 0 30px 0;
  margin: 0 0 30px 0;
}

.recommendation-item p {
  margin: 0;
  padding: 0 85px;
}

.search {
  text-align: center;
  background-color: #ffffff;
  padding: 96px 0;
}

.search-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 20px 0;
  padding: 0 30px;
}

.search-description {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 54px 0;
  padding: 0 30px;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  min-width: 376px;
  min-height: 52px;
  border: none;
}

.subscribe {
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #756157;
  text-align: center;
  color: #ffffff;
  min-height: 415px;
  padding: 96px 0 104px;
}

.subscribe-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 20px 0;
  padding: 0 30px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 54px 0;
  padding: 0 30px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  min-width: 232px;
  min-height: 52px;
  background-color: #82b3d3;
  color: #ffffff;
  border: none;
  border-radius: 0 4px 4px 0;
}

.button-subscribe:hover,
.button-accept:hover,
.button-favorites:hover {
  background-color: #68a2ca;
}

.button-subscribe:focus,
.button-accept:focus,
.button-favorites:focus {
  background-color: #68a2ca;
  outline: none;
}

.button-subscribe:active,
.button-accept:active,
.button-favorites:active {
  background-color: #82b3d3;
  color: rgb(255, 255, 255, 0.3);
}

.field {
  width: 452px;
  height: 52px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #000000;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: 0;
  padding: 12px 20px;
}

.field::placeholder {
  color: #000000;
  opacity: 0.6;
}

.page-footer {
  background-color: #ffffff;
  width: 1200px;
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.social-item {
  list-style: none;
  display: flex;
}

.social-link-vk {
  background-image: url("../images/logo/logo-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 47px;
  height: 40px;
  display: inline-block;
  text-align: center;
}

.social-link-telegram {
  background-image: url("../images/logo/logo-telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 47px;
  height: 40px;
  display: inline-block;
  text-align: center;
}

.social-link-youtube {
  background-image: url("../images/logo/logo-youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 47px;
  height: 40px;
  display: inline-block;
  text-align: center;
}

.footer-contacts {
  width: 720px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-tel {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.copyright {
  display: flex;
  align-items: center;
}

.logo-htmlacademy {
  display: flex;
}

.filter-container {
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: #756157;
  color: #ffffff;
  padding: 35px 70px 70px;
  min-height: 412px;
}

.catalog-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 8px 0;
}

.breadcrumbs-list {
  margin: 0 0 40px 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.breadcrumbs-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.breadcrumbs-item:not(:last-child)::after {
  content: '';
  display: block;
  width: 8px;
  height: 20px;
  background-image: url(../images/decorations/arrow-white.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 0 10px;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.home-link {
  display: block;
  width: 13px;
  height: 15px;
  background-image: url(../images/icons-sprites.svg);
  background-repeat: no-repeat;
  background-position: -229px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  line-height: 23px;
  list-style: none;
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-group {
  border: none;
  margin: 0 ;
  padding: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
  padding: 0;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 36px;
}

.catalog-filter-label {
  position: relative;
}

.catalog-filter-label:first-child {
  margin-right: 2px;
}

.label-wrapper {
  line-height: 24px;
  color: #000000;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 12px;
}

.range {
  display: flex;
  height: 20px;
}

.range-input {
  width: 143px;
  height: 48px;
  background-color:  #F2F2F2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding: 12px 0 12px 20px;
  border: 0;
}

.input-min {
  border-radius: 4px 0 0 4px;
}

.input-max {
  border-radius: 0 4px 4px 0;
}

.range-toggle {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

.button-accept {
  min-width: 191px;
  height: 36px;
  background-color: #82B3D3;
  color: #ffffff;
  border: none;
  margin-bottom: 32px;
}

.button-accept:hover {
  background-color: #68A2CA;
}

.button-reset {
  min-width: 191px;
  height: 36px;
  background-color: transparent;
  border-radius: 0;
  color: #ffffff;
  border: none;

}

.button-reset:hover {
  background-color: transparent;
  opacity: 0.6;
}

.button-reset:focus {
  background-color: transparent;
  outline: 3px solid #83b3d3;;
  border-radius: 4px;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.filter-cards-wrapper {
  padding: 50px 70px 60px;
}

.filter-results {
  height: 49px;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.select-control {
  width: 292px;
  height: 49px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #E5E5E5;
  padding-left: 20px;
  margin-left: auto;
  margin-right: 70px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../images/decorations/arrow-black.svg);
  background-repeat: no-repeat;
  background-position: 260px 21px;
}

.filter-results-title,
.filter-results-quantity {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.card-toggle-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
}

.card-toggle-item {
  list-style: none;
}

.card-grid-toggle {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.card-toggle-item:nth-of-type(1) {
  background-image: url(../images/decorations/view-1.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.card-grid-toggle-current{
border-color: #000000;
}

.card-toggle-item:nth-of-type(2) {
  background-image: url(../images/decorations/view-2.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.card-toggle-item:nth-of-type(3) {
  background-image: url(../images/decorations/view-3.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.hotel-cards {
  background-color: #ffffff;
  margin-bottom: 80px;
}

.hotel-cards-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.hotel-card {
  list-style: none;
  width: 340px;
  min-height: 438px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  align-items: start;
}

.hotel-card-link {
  text-decoration: none;
  display: block;
  grid-column: 1/-1;
  max-width: max-content;
}

.hotel-card-link:nth-of-type(2) {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.hotel-card-img {
  display: block;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding: 0;
  margin: 0;
}

.product-card-status {
  margin: 0;
  width: 140px;
}
/*
.product-card-info {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
}
*/

.product-card-price {
  margin: 0 0 0 auto;
}

.button-about {
  min-width: 140px;
  padding: 8px 18px;
  display: inline-block;
}

.button-favorites {
  background-color: #82b3d3;
  min-width: 140px;
  border: none;
  padding: 8px 18px;
  display: inline-block;
}

.button-favorites:hover {
  background-color: #68a2ca;
}

.button-favorites-current {
 background-color: #7db54f;
 min-width: 140px;
 border: none;
 padding: 8px 18px;
 display: inline-block;
}

.button-favorites-current:hover {
  background-color: #6c9e42;
}

.button-favorites-current:focus {
  background-color: #6c9e42;
  outline: none;
}

.product-card-stars {
  background-image: url(../images/decorations/star.svg);
  background-repeat: space;
  width: 18px;
  height: 17px;
  margin: 0;
  background-position: 0 50%;
  margin-top: 10px;
}

.stars-2 {
  width: 42px;
}

.stars-3 {
  width: 62px;
}

.stars-4 {
  width: 86px;
}

.stars-5 {
  width: 110px;
}

.product-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
  min-width: 140px;
  min-height: 37px;
  display: block;
  padding: 9px 15px;
}

.pagination-container {
  background-color: #ffffff;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
}

.pagination-item {
  list-style: none;
}

.pagination-link {
width: 60px;
height: 60px;
color: #ffffff;
background-color: #82B3D3;
border-radius: 4px;
text-decoration: none;
display: flex;
font-weight: 700;
font-size: 20px;
line-height: 36px;
align-items: center;
justify-content: center;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
  outline: none;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
 background-color: #f2f2f2;
 color: #000000;
}

.pagination-current:hover {
  background-color: #f2f2f2;
}

.pagination-current:active {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-dots {
  background-color: transparent;
  color: #000000;
  font-size: 22px;
  line-height: 26px;;
}

.pagination-dots:hover {
  background-color: transparent;
}

.pagination-dots:focus {
  background-color: transparent;
  outline: 3px solid #83b3d3;;
  border-radius: 4px;
}

.pagination-dots:active {
  background-color: transparent;
  color: #000000;;
}

.subscribe-white {
  color: #000000;
  background-color: #ffffff;
  background-image: none;
}

.subscribe-white .subscribe-description {
  color: #333333;
}
