*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1200px;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  width: 1200px;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/*Хедер*/
.page-header {
  background-color: #ffffff;
  color: #000000;
  width: 1200px;
  min-height: 64px;
}

.nav {
  position: relative;
  width: 1200px;
  display: flex;
  align-items: center;
  padding-left: 238px;
}

.logo-img:hover {
  opacity: 0.7;
}

.logo-link {
  position: absolute;
  text-decoration: none;
  top: 0;
  left: 70px;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  vertical-align: top;
}

.nav-user-list {
  display: flex;
  margin: 0 20px 0 auto;
  padding: 0;
  align-items: center;
}

.nav-item,
.nav-user-item {
  list-style: none;
  display: block;
}

.nav-item {
  position: relative;
  padding: 20px 0;
  transition: all 0.4s ease;
}

.nav-item:hover {
  background-color: rgba(227, 240, 248, 0.7);
  box-shadow: 0 0 3px 0 rgba(205, 228, 242, 0.8);
  transition: all 0.3s ease;
}

.nav-item-current::after {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -1px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.nav-link {
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.nav-link-search {
  background-image: url("../images/icons/icon-search.svg");
  min-width: 44px;
  min-height: 64px;
  display: block;
}

.nav-link-favorites {
  position: relative;
  background-image: url("../images/icons/icon-favorites.svg");
  min-width: 44px;
  min-height: 64px;
  display: block;
  text-decoration: none;
}

.nav-user-item {
  position: relative;
  display: block;
  width: 44px;
  height: 64px;
  text-align: center;
  transition: all 0.4s ease;
}

.nav-user-item:hover {
  background-color: rgba(227, 240, 248, 0.7);
  box-shadow: 0 0 3px 0 rgba(205, 228, 242, 0.8);
  transition: all 0.3s ease;
}

.nav-user-number {
  position: absolute;
  left: 20px;
  top: 11px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #7db54f;
  padding-top: 5px;
}

.button {
  font-family: "PT Sans", "Arial", sans-serif;
  min-width: 160px;
  background-color: #756157;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 8px;
  text-align: center;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.button:disabled:hover,
.button:disabled:active {
  background-color: #e5e5e5;
  color: #ffffff;
  outline: none;
  cursor: default;
}

.button-wanthere {
  margin-right: 70px;
}

/*Страница индекс*/
.main-index {
  flex-grow: 1;
}

.welcome {
  text-align: center;
  background-color: #ffffff;
}

.welcome-image-wrapper {
  background-image: url("../images/divider.svg"),
    url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center;
  background-size: auto, cover;
  background-color: #ffffff;
  height: 485px;
  margin-bottom: 69px;
  padding: 51px 0 82px;
}

.advantages {
  background-color: #ffffff;
  margin-bottom: 64px;
  text-align: center;
}

.welcome-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 25px 0;
  padding: 0 30px;
}

.welcome-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 0 90px 0;
  padding: 0 30px;
}

.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  width: 400px;
  min-height: 385px;
}

.advantages-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding: 70px 85px;
  background-color: #82b3d3;
}

.advantages-title {
  width: 175px;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.advantages-title::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  width: 60px;
  height: 2px;
  display: block;
  margin: 30px auto 0;
}

.advantages-description {
  position: relative;
  margin: 30px 0 0;
}

.advantages-item-light .advantages-title::after,
.advantages-item-lightblue .advantages-title::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-blue {
  color: #ffffff;
  background-color: #82b3d3;
  width: 100%;
  flex-direction: row;
}

.advantages-item-blue .advantages-title {
  color: inherit;
}

.advantages-item-light {
  background: rgba(131, 179, 211, 0.12);
  padding: 70px 85px;
}

.advantages-item-lightblue {
  background: rgba(131, 179, 211, 0.2);
  padding: 70px 85px;
}

.recommendation {
  text-align: center;
  background-color: #ffffff;
}

.recommendation-bold {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
  padding: 0 30px;
}

.recommendation-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 64px 0;
  padding: 0 30px;
}

.recommendation-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.recommendation-item {
  list-style: none;
  width: 400px;
  min-height: 385px;
  padding-top: 183px;
}

.recommendation-item-lightblue {
  background: rgba(131, 179, 211, 0.12);
}

.recommendation-housing {
  background-image: url("../images/icons/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 163px 81px;
}

.recommendation-food {
  background-image: url("../images/icons/icon-food.svg");
  background-repeat: no-repeat;
  background-position: 163px 81px;
}

.recommendation-souvenirs {
  background-image: url("../images/icons/icon-present.svg");
  background-repeat: no-repeat;
  background-position: 169px 79px;
}

.recommendation-subtitle {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 0 30px 0;
  margin: 0 0 30px 0;
}

.recommendation-item p {
  margin: 0;
  padding: 0 85px 25px;
}

.search {
  text-align: center;
  background-color: #ffffff;
  padding: 96px 0;
}

.search-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 20px 0;
  padding: 0 30px;
}

.search-description {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 54px 0;
  padding: 0 30px;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  min-width: 376px;
  min-height: 52px;
  border: none;
}

.subscribe {
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #756157;
  text-align: center;
  color: #ffffff;
  min-height: 415px;
  padding: 96px 70px 104px;
}

.subscribe-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 20px 0;
  padding: 0 30px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 54px 0;
  padding: 0 30px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  padding: 12px 20px;
  width: 452px;
  height: 52px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: 0;
}

.field:hover {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.6);
}

.field:focus {
  border-radius: 4px;
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.field:disabled {
  opacity: 0.6;
}

.field:disabled:hover {
  background-color: #f2f2f2;
}

.field::placeholder {
  color: #000000;
  opacity: 0.6;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  min-width: 232px;
  min-height: 52px;
  background-color: #82b3d3;
  color: #ffffff;
  border: none;
  border-radius: 0 4px 4px 0;
}

.button-subscribe:hover,
.button-accept:hover,
.button-favorites:hover,
.button-subscribe:focus,
.button-accept:focus,
.button-favorites:focus {
  background-color: #68a2ca;
}

.button-subscribe:active,
.button-accept:active,
.button-favorites:active {
  background-color: #82b3d3;
  color: rgb(255, 255, 255, 0.3);
}

/*Футер*/
.page-footer {
  background-color: #ffffff;
  width: 1200px;
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.social-item {
  list-style: none;
}

.social-link {
  width: 47px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover path,
.social-link:focus path {
  fill: #68a2ca;
}

.social-link:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
  width: 720px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-tel {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

.contacts-tel:hover,
.contacts-tel:focus {
  color: #756157;
}

.contacts-tel:active {
  color: rgba(117, 97, 87, 0.3);
}

.copyright {
  display: flex;
  align-items: center;
}

.logo-htmlacademy {
  display: flex;
}

.logo-htmlacademy:hover path,
.logo-htmlacademy:focus path {
  fill: #756157;
}

.logo-htmlacademy:active path {
  fill: rgba(117, 97, 87, 0.3);
}

/*Страница каталога*/
.main-catalog {
  flex-grow: 1;
}

.filter-container {
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: #756157;
  color: #ffffff;
  padding: 35px 70px 70px;
  min-height: 412px;
}

.catalog-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 8px 0;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 40px 0;
  padding: 0;
}

.breadcrumbs-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 8px;
  height: 20px;
  background-image: url("../images/decorations/arrow-white.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 0 10px;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-item:last-child .breadcrumbs-link:hover {
  opacity: 1;
}

.home-link {
  display: block;
  width: 13px;
  height: 15px;
  background-image: url("../images/decorations/small-house.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.filter-wrapper-price {
  justify-content: space-between;
  flex-wrap: nowrap;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  line-height: 23px;
  list-style: none;
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-label {
  position: relative;
  display: block;
}

.catalog-label:hover {
  opacity: 0.6;
}

.catalog-input:focus + .catalog-mark {
  outline: 3px solid #83b3d3;
}

.catalog-label:active {
  opacity: 0.3;
}

.catalog-input[type="checkbox"]:checked + .catalog-mark {
  background-image: url("../images/decorations/check-mark.svg");
  background-repeat: no-repeat;
  background-position: 60% 60%;
}

.catalog-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.catalog-span {
  padding-left: 36px;
}

.catalog-input[type="radio"] + .catalog-mark {
  border-radius: 50%;
}

.catalog-input[type="radio"]:checked + .catalog-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
  content: "";
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 44px;
}

.catalog-filter-label {
  position: relative;
}

.catalog-filter-label + .catalog-filter-label {
  margin-left: 2px;
}

.label-wrapper {
  position: absolute;
  right: 20px;
  top: 12px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.range-input {
  width: 143px;
  height: 48px;
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding: 12px 42px 12px 20px;
  border: 0;
  -moz-appearance: textfield;
}

.range-input:hover,
.range-input:focus-visible {
  background-color: #e6e6e6;
}

.range-input:focus-visible {
  outline: 3px solid #83b3d3;
}

.range-input:disabled {
  opacity: 0.6;
}

.range-input:disabled:hover {
  opacity: 0.6;
  background-color: #f2f2f2;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-min {
  border-radius: 4px 0 0 4px;
}

.input-max {
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: 2px solid rgb(131, 179, 211);
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  left: 206px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

.button-accept {
  min-width: 191px;
  min-height: 36px;
  background-color: #82b3d3;
  color: #ffffff;
  border: none;
  margin-bottom: 32px;
}

.button-accept:hover {
  background-color: #68a2ca;
}

.button-reset {
  min-width: 191px;
  height: 36px;
  background-color: transparent;
  border-radius: 0;
  color: #ffffff;
  border: none;
}

.button-reset:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:focus {
  background-color: transparent;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-reset:disabled {
  color: rgba(255, 255, 255, 0.1);
  background-color: transparent;
}

.button-reset:disabled:hover {
  color: rgba(255, 255, 255, 0.1);
  background-color: transparent;
}

.filter-cards-wrapper {
  padding: 50px 70px 60px;
}

.filter-results {
  min-height: 49px;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.filter-results-title,
.filter-results-quantity {
  max-width: 450px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.select-control {
  width: 292px;
  height: 49px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 45px;
  margin-left: auto;
  margin-right: 70px;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../images/decorations/arrow-black.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.select-control:hover,
.select-control:focus {
  border-color: #68a2ca;
}

.select-control:focus {
  outline: none;
}

.select-control:disabled {
  border: 2px solid #000000;
  opacity: 0.3;
}

.card-toggle-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 300px;
  margin: 0;
  padding: 0;
}

.card-toggle-item {
  list-style: none;
}

.card-grid-toggle {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.card-grid-toggle:hover {
  border: 2px solid #000000;
}

.card-grid-toggle:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.card-grid-toggle:active {
  border: 2px solid #000000;
}

.card-toggle-item:nth-of-type(1) .card-grid-toggle {
  background-image: url("../images/decorations/view-1.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}

.card-toggle-item:nth-of-type(2) .card-grid-toggle {
  background-image: url("../images/decorations/view-2.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.card-toggle-item:nth-of-type(3) .card-grid-toggle {
  background-image: url("../images/decorations/view-3.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.hotel-cards {
  background-color: #ffffff;
}

.hotel-cards::after {
  content: "";
  display: block;
  margin: 40px 0;
  width: 1060px;
  height: 1px;
  background: #e6e6e6;
}

.hotel-cards-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.hotel-card {
  list-style: none;
  width: 340px;
  min-height: 438px;
  outline: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  align-items: start;
}

.hotel-card-link {
  text-decoration: none;
  display: block;
  grid-column: 1/-1;
  max-width: max-content;
}

.hotel-card-link:hover {
  opacity: 0.8;
}

.hotel-card-link:nth-of-type(2) {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.hotel-card-img {
  display: block;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding: 0;
  margin: 0;
}

.product-card-status {
  margin: 0;
  width: 140px;
}

.product-card-price {
  margin: 0 0 0 auto;
}

.button-about {
  min-width: 140px;
  padding: 8px 18px;
  display: inline-block;
}

.button-favorites {
  background-color: #82b3d3;
  min-width: 140px;
  border: none;
  padding: 8px 18px;
  display: inline-block;
}

.button-favorites:hover {
  background-color: #68a2ca;
}

.button-favorites-current {
  background-color: #7db54f;
  min-width: 140px;
  border: none;
  padding: 8px 18px;
  display: inline-block;
}

.button-favorites-current:hover {
  background-color: #6c9e42;
}

.button-favorites-current:focus {
  background-color: #6c9e42;
}

.button-favorites-current:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-stars {
  background-image: url("../images/decorations/star.svg");
  background-repeat: space;
  width: 18px;
  height: 17px;
  margin: 0;
  background-position: 0 50%;
  align-self: center;
}

.stars-2 {
  width: 43px;
}

.stars-3 {
  width: 63px;
}

.stars-4 {
  width: 88px;
}

.stars-5 {
  width: 112px;
}

.product-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #f2f2f2;
  border-radius: 4px;
  min-width: 140px;
  min-height: 37px;
  display: block;
  padding: 8px 15px;
}

.pagination-container {
  background-color: #ffffff;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.pagination-item {
  list-style: none;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  padding: 5px;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-link:hover {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}

.pagination-link:focus {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-current:hover {
  background-color: #f2f2f2;
  border: none;
}

.pagination-current:active {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-dots {
  background-color: transparent;
  color: #000000;
  font-size: 22px;
  line-height: 26px;
}

.pagination-dots:hover {
  background-color: transparent;
  border: none;
}

.pagination-dots:focus {
  background-color: transparent;
  outline: none;
  border: none;
}

.pagination-dots:active {
  background-color: transparent;
  color: #000000;
}

.subscribe-white {
  color: #000000;
  background-color: #ffffff;
  background-image: none;
}

.subscribe-white .subscribe-description {
  color: #333333;
}

/*Модальное окно*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-closed {
  display: none;
}

.modal-wrapper {
  height: 576px;
  overflow-y: auto;
  margin: auto;
  border-radius: 30px;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-search {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close-button::before,
.modal-close-button::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #000000;
  transform: rotate(45deg);
  transform-origin: center;
}

.modal-close-button::after {
  transform: rotate(-45deg);
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  outline: none;
}

.modal-close-button:active::before,
.modal-close-button:active::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin: 0 0 64px 0;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.field-group {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.search-label {
  width: calc(100% - 440px);
}

.search-input {
  width: 440px;
  height: 48px;
  padding-right: 40px;
  font-weight: 700;
  margin-bottom: 4px;
  border-radius: 4px;
  background-image: url("../images/decorations/modal-calendar.svg");
  background-repeat: no-repeat;
  background-position: top 16px right 20px;
}

.search-input::placeholder {
  opacity: 1;
}

.search-label,
.quantity-label {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.wrong-date,
.free-date {
  color: #ff5757;
  font-size: 16px;
  margin: 0 0 23px 157px;
}

.free-date {
  color: #333333;
}

.quantity-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.adults-group,
.children-group {
  position: relative;
  margin: 0;
  display: flex;
  align-items: center;
}

.quantity-label-adults {
  margin-right: 46px;
}

.quantity-label-children {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
}

.button-minus {
  right: 70px;
}

.button-plus {
  right: 0;
}

.button-minus::before,
.button-plus::before,
.button-plus::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 14px;
  height: 2px;
  background-color: #cdc7c4;
}

.button-plus::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.button-plus:hover::before,
.button-plus:hover::after,
.button-minus:hover::before,
.button-plus:focus::before,
.button-plus:focus::after,
.button-minus:focus::before {
  background-color: #000000;
}

.counter {
  position: absolute;
  width: 40px;
  height: 48px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  justify-content: center;
}

.counter:focus {
  outline: 3px solid #82b3d3;
  border-radius: 4px;
}

.counter:active {
  outline: none;
}

.button-plus:active::before,
.button-plus:active::after,
.button-minus:active::before {
  background-color: #cccccc;
}

.counter:disabled:focus {
  outline: none;
}

.button-plus:disabled::before,
.button-plus:disabled::after,
.button-minus:disabled::before,
.button-plus:disabled:hover::before,
.button-plus:disabled:hover::after,
.button-minus:disabled:hover::before {
  opacity: 0.6;
  background-color: #cdc7c4;
}

.quantity-input {
  width: 110px;
  height: 48px;
  color: #000000;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
  -moz-appearance: textfield;
}

.quantity-input:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.quantity-input:disabled:hover {
  color: #000000;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.tooltip {
  position: relative;
  margin-right: 46px;
}

.modal-info {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-image: url("../images/decorations/modal-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  vertical-align: top;
}

.modal-info:hover {
  opacity: 0.7;
}

.tooltip-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  border-radius: 10px;
  background-color: #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  display: none;
  width: 256px;
  padding: 21px 18px 22px 22px;
  margin-top: 16px;
  z-index: 1;
}

.tooltip-text::before {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  content: "";
  width: 19px;
  height: 9px;
  background-image: url("../images/decorations/modal-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.modal-info:hover + .tooltip-text,
.modal-info:focus + .tooltip-text {
  display: block;
}

.button-modal-search {
  border: none;
  width: 100%;
  min-height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background-color: #83b3d3;
  border-radius: 10px;
}

.button-modal-search:hover,
.button-modal-search:focus {
  background-color: #68a2ca;
}

.button-modal-search:active {
  color: rgba(255, 255, 255, 0.3);
}
